Repository wolfenrain/flavor_text: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dartdoc, flutter_analyze, unit_test

dartdoc:
  stage: lint
  script:
  - flutter pub get
  - dartdoc --no-auto-include-dependencies --quiet

flutter_analyze:
  stage: lint
  script:
  - flutter pub get
  - flutter analyze --pub
  - flutter format -n --set-exit-if-changed .

unit_test:
  stage: test
  script:
  - flutter test --coverage --pub test
  - lcov --list ./coverage/lcov.info

Updated CI/CD to use main
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, unit_test

Updated README with beter use case
  README.md
Due: dartdoc

Added support for all know icons
  lib/src/tags/icon_tag.dart
Due: dartdoc, flutter_analyze, unit_test

Added icon example
  example/lib/main.dart
Due: none

Beter property system
  README.md
  example/lib/main.dart
  lib/flavor_text.dart
  lib/src/property.dart
  lib/src/tag.dart
  lib/src/tags/icon_tag.dart
  lib/src/tags/rainbow_tag.dart
  lib/src/tags/style_tag.dart
  lib/src/tags/text_tag.dart
Due: dartdoc, flutter_analyze, unit_test

Fixed dartdoc job
  dartdoc_options.yaml
Due: none

Turned FlavorText into a StatelessWidget
  lib/flavor_text.dart
Due: dartdoc, flutter_analyze, unit_test

Removed unused method
  lib/src/property.dart
Due: dartdoc, flutter_analyze, unit_test

Updated README and example
  README.md
  example/lib/main.dart
Due: dartdoc

Fixed docs and formatting
  lib/src/tags/icon_tag.dart
  lib/src/tags/rainbow_tag.dart
Due: dartdoc, flutter_analyze, unit_test

Updated citation
  README.md
Due: dartdoc

Updated README.md
  README.md
Due: dartdoc

Updated example to use Dashbook
  README.md
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/ios/Podfile
  example/lib/<style.html
  example/lib/main.dart
  example/macos/Flutter/Flutter-Debug.xcconfig
  example/macos/Flutter/Flutter-Release.xcconfig
  example/macos/Flutter/GeneratedPluginRegistrant.swift
  example/macos/Podfile
  example/macos/Podfile.lock
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner.xcworkspace/contents.xcworkspacedata
  example/pubspec.lock
  example/pubspec.yaml
  lib/flavor_text.dart
  lib/src/tag.dart
  lib/src/tags/style_tag.dart
  test/flavor_text_test.dart
Due: dartdoc, flutter_analyze, unit_test

Removed author
  pubspec.yaml
Due: none

Testing Pages
  .gitlab-ci.yml
  example/web/index.html
Due: dartdoc, flutter_analyze, unit_test

fixed
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, unit_test

Forgot stage
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, unit_test

Fixed analyze issues
  example/lib/main.dart
Due: none

Fixed relative path
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, unit_test

Update
  .gitlab-ci.yml
  README.md
  example/lib/<style.html
  example/lib/main.dart
  example/pubspec.yaml
  lib/src/tags/style_tag.dart
Due: dartdoc, flutter_analyze, unit_test

Update
  .gitlab-ci.yml
Due: dartdoc, flutter_analyze, unit_test

Update
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/improvement.md
  CONTRIBUTING.md
Due: none

Preparing for initial release
  .gitlab-ci.yml
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature.md
  .gitlab/issue_templates/improvement.md
  CONTRIBUTING.md
  README.md
  dartdoc_options.yaml
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/ios/Podfile
  example/lib/main.dart
  example/macos/Flutter/Flutter-Debug.xcconfig
  example/macos/Flutter/Flutter-Release.xcconfig
  example/macos/Flutter/GeneratedPluginRegistrant.swift
  example/macos/Podfile
  example/macos/Podfile.lock
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner.xcworkspace/contents.xcworkspacedata
  example/pubspec.lock
  example/pubspec.yaml
  example/web/index.html
  lib/flavor_text.dart
  lib/src/property.dart
  lib/src/tag.dart
  lib/src/tags/icon_tag.dart
  lib/src/tags/rainbow_tag.dart
  lib/src/tags/style_tag.dart
  lib/src/tags/text_tag.dart
  pubspec.yaml
  test/flavor_text_test.dart
Due: dartdoc, flutter_analyze, unit_test

fix:accent-color
  .gitlab-ci.yml
  CHANGELOG.md
  analysis_options.yaml
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/macos/Flutter/GeneratedPluginRegistrant.swift
  example/pubspec.lock
  lib/src/tag.dart
  lib/src/tags/style_tag.dart
  pubspec.lock
  pubspec.yaml
Due: dartdoc, flutter_analyze, unit_test

Path conditions:
  dartdoc: any of: lib/**/*, README.md, .gitlab-ci.yml
  flutter_analyze: any of: lib/**/*.dart, test/**/*.dart, .gitlab-ci.yml
  unit_test: any of: lib/**/*, test/**/*, .gitlab-ci.yml
